{% if site.data.settings.services %}
<!-- services -->
<section class="section" style="background-color: #c5e0f5;" id="crystalwars">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.services-title }}</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=opgvcNVYqo6NWFhZ?autohide=0" allowfullscreen></iframe >
      </div>
      {% for service in site.data.settings.services %}
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card hover-shadow shadow"  style="background-color: #5c83a0;">
          <div class="card-body {% if service.active %}active-bg-primary{% endif %} text-center px-4 py-5">
            <img src="{{ service.icon }}"></i>
            <h4 class="mb-4">{{ service.name }}</h4>
            <p>{{ service.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /services -->
{% endif %}
